$bg: #192830
$accent: #EFAB3E
$text: rgb(173, 186, 199)
$border: rgba(173, 186, 199, .4)
$corners: 10px

body
  background: $bg
  margin: 0


h1, body, button
  font-family: "Helvetica Neue"
  color: $text
  font-size: 2rem

  button h2
    margin-bottom: -10px
    font-size: 2rem

  @media(max-width: 992px)
    button, button h2, button p
      font-size: 1.5rem

button, input
  border: 5px solid transparent
  background: #fff1
  cursor: pointer
  padding: 1em 1.5em
  border-radius: $corners
  color: $text


  &:hover
    background: #fff3
    outline: none

input
  cursor: text

#frage
  text-align: center
  display: flex
  align-items: center

  h1
    flex: 1
    margin: 1em

  @media(max-width: 992px)
    h1
      height: auto
    button
      flex: 1

  button
    margin: 20px

img
  border-radius: $corners

#anzeige
  background: #0005
  display: flex
  justify-content: center
  gap: 3em
  flex: 1
  padding: 1em


  img
    height: 100%
    max-width: 100%
    max-height: 51vh


@media(max-width: 992px)
  #anzeige
    max-height: 40vh


#antworten.count3 button
  flex: calc(30% - 20px)

#antworten
  display: flex
  flex-wrap: wrap
  gap: 20px
  padding: 20px

  button
    padding: 0
    margin: 0
    flex: calc(50% - 20px)

    @media(max-width: 992px)
      flex: 100%


#present
  display: flex
  flex-direction: column
  height: 100vh

#wartezimmer
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  height: 100vh


span
  font-size: 1.2em

h1 > span
  font-size: 1.6em
  position: relative
  margin: 0 .2em
  display: inline-block
  top: 7px

#gratulation
  display: flex
  justify-content: center
  align-items: center
  height: 100vh
  flex-direction: column

  h1
    font-size: 10rem

  @media(max-width: 992px)

  h1
    font-size: 6rem

  h2
    margin-top: -2rem


#start
  display: flex
  align-items: center
  height: 100vh
  justify-content: center
  gap: 1em
  flex-direction: column

button.danger
  border: 5px solid rgba(141, 20, 0, 0.45)
  background: rgba(141, 20, 0, 0.25)

button.success
  border: 5px solid rgba(0, 141, 0, 0.45)
  background: rgba(0, 141, 0, 0.25)

#anzeige
  display: flex
  align-items: center
  justify-content: center

  h1
    text-align: center
    font-size: 3rem
    margin: 0 5rem
