<template>
  <div id="start">
    <div>
      <input placeholder="Quiznummer" min="0" v-model="quizname" type="number" @change="generateQR">
    </div>
    <img :src="qrcode" style="height:50vh">
    <kbd>
      {{ path }}
    </kbd>
    <div>
      <a target="_blank" :href="`quiz/${quizname}/present`">
        <button>Presenter</button>
      </a>
      <a target="_blank" :href="`quiz/${quizname}/controller`">
        <button>Controller</button>
      </a>
    </div>
  </div>
</template>

<script setup>
import QRCode from 'qrcode'
import {computed, ref} from 'vue'

const qrcode = ref(null)
const quizname = ref(1)

const fullPath = (process.client) ? window.location.href : ""
let path = computed(() => fullPath + "quiz/" + quizname.value + "/controller")

// With promises
function generateQR() {

  QRCode.toDataURL(path.value, {scale: 15, qzone: 0})
      .then(url => {
        qrcode.value = url
      })
      .catch(err => {
        console.error(err)
      })
}

generateQR()
</script>
<style scoped>
input {
  font-size: 2rem;
  width: 50px;
}
</style>