<template>
  <div id="display">
    <span v-if="time < 0">
      <input v-model="timeCopy">
      <button @click="setTime">Minuten</button>
    </span>
    <span v-else>
      {{ getTime }}
    </span>
  </div>
</template>

<script setup>
import {ref} from 'vue'

// time remaining const
const time = ref(-1)
const timeCopy = ref(5)

// setTime
function setTime() {
  time.value = Math.floor(timeCopy.value * 60)
}

// set timeout for counting down time
setInterval(() => {
  if (time.value > 0) {
    time.value--
  }
}, 1000)

// function to get time remaining as human readable string
const getTime = computed(() => {

  let minutes = Math.floor(time.value / 60)
  let seconds = time.value % 60

  // with leading zeros
  minutes = minutes < 10 ? "0" + minutes : minutes
  seconds = seconds < 10 ? "0" + seconds : seconds

  // return
  return time.value === 0 ? "🛎️" : minutes + ":" + seconds
})
</script>

<style scoped>
#display {
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  font-size: 2rem;
  width: 150px;
  text-align: center;
}
</style>