<template>
  <template v-if="quiz[aktuelleFrage]!==undefined">
    <div id="present" v-if="frageAktiv">
      <div id="frage">
        <h1 @dblclick="reset"> {{ quiz[aktuelleFrage]?.aufgabe }}</h1>
      </div>

      <div id="anzeige" v-if="!keinBild">
        <img :src="'/quizzes/'+quizname+'/'+quiz[aktuelleFrage]?.bild ">
        <img style="opacity:0;width:0;height:0;position:absolute" :src="'/quizzes/'+quizname+'/'+quiz[aktuelleFrage+1]?.bild ">
      </div>

      <div id="antworten">
        <button v-for="(_,moeglichkeit) in quiz[aktuelleFrage]?.antworten" @click="abstimmen(moeglichkeit)">
          <h2 v-if="antwortenZeigen">{{ eingaben[aktuelleFrage]?.[moeglichkeit].length ?? 0 }}x gewählt</h2>
          <p>{{ quiz[aktuelleFrage]?.antworten[moeglichkeit] }}</p>
        </button>
      </div>

    </div>
    <div v-else id="wartezimmer">
      <div id="frage">
        <h1 @dblclick="reset" v-if="aktuelleFrage>0">
          Deine Antwort "{{ quiz[aktuelleFrage - 1]?.antworten[letzteAuswahl] }}" wurde eingeloggt.
        </h1>
      </div>
      <button v-if="!useSocket" @click="weiter">Frage {{ aktuelleFrage + 1 }} 👉</button>
    </div>
  </template>
  <div v-else id="gratulation">
    <h1 @click="reset">🎁</h1>
    <h2> Geschafft!</h2>
  </div>
</template>

<script setup>
import {ref} from 'vue'
import {io} from "socket.io-client";

const route = useRoute()

const aktuelleFrage = useCookie('aktuelleFrage')
const aktuellesQuiz = useCookie('aktuellesQuiz')

console.log("aktuelleFrage", aktuelleFrage.value)
aktuelleFrage.value = aktuelleFrage.value || 0
console.log("aktuelleFrage", aktuelleFrage.value)

const quizname = route.params.quizname ?? "1"
console.log("quizname", quizname)
console.log("aktuellesQuiz", aktuellesQuiz.value)
if (""+aktuellesQuiz.value !== ""+quizname) {
  aktuelleFrage.value = 0
  aktuellesQuiz.value = quizname
}

const spieler = "Suzanne" + Math.random()

const useSocket = ref(false)

const letzteAuswahl = useCookie('letzteAuswahl')
// const letzteAuswahl = ref(0)

const frageAktiv = ref(false)

const keinBild = computed(() => {
  return quiz[aktuelleFrage.value]?.bild === undefined
})

const quiz = await $fetch("/api/quiz", {method: "post", body: {quizname}})

function abstimmen(auswahl) {
  fetch('/api/vote', {
    method: "post",
    body: JSON.stringify({spieler, auswahl, aktuelleFrage: aktuelleFrage.value, quizname}),
    headers: {"content-type": "application/json"}
  })
      .then(d => d.json()).then(d => console.log(d))

  aktuelleFrage.value++
  letzteAuswahl.value = auswahl
  frageAktiv.value = !frageAktiv.value

  socket?.emit("abgestimmt")
}

function weiter() {
  frageAktiv.value = !frageAktiv.value
}

function reset() {
  // check if is client
  if (typeof window !== 'undefined' && confirm("Quiz zurücksetzen?")) {
    aktuelleFrage.value = 0
    letzteAuswahl.value = 0
    frageAktiv.value = !frageAktiv.value
  }
}

// connect to  socket io if client
const socket = (typeof window !== "undefined") ? io("http://" + window.location.hostname + ":3005/") : null
socket?.on("aktuelleFrage",(aktuelleFrageRemote)=>{
  useSocket.value=true
  aktuelleFrage.value = aktuelleFrageRemote
  letzteAuswahl.value = 0
  frageAktiv.value = true
})
</script>

<style>
/* only on phone */
@media (max-width: 600px) {
h1, button {
  font-size: 1.5rem;
}
}
</style>
