<template>
  <div id="present" v-if="quiz[aktuelleFrage]!==undefined">

    <div id="frage" :style="keinBild?'flex:1':''">
      <h1><span>💬</span> {{ quiz[aktuelleFrage]?.aufgabe }} </h1>
      <button @click="weiterBtn">
        {{ alleAntworten }} <span>👉</span>
      </button>
    </div>

    <div id="anzeige" v-if="!keinBild">
      <img :src="'/quizzes/'+quizname+'/'+quiz[aktuelleFrage]?.bild ">
      <img style="opacity:0;width:0;height:0" :src="'/quizzes/'+quizname+'/'+quiz[aktuelleFrage+1]?.bild ">
    </div>

    <div id="antworten" :class="'count'+quiz[aktuelleFrage]?.antworten.length">
      <button
          :class="antwortenZeigen&&richtigZeigen ?  (
               quiz[aktuelleFrage]?.antworten[moeglichkeit] === quiz[aktuelleFrage]?.richtig  ? 'success':'danger'
           ): '' "
          v-for="(_,moeglichkeit) in quiz[aktuelleFrage]?.antworten" @click="neuesRichtigSetzen(moeglichkeit)">
        <h2 v-if="antwortenZeigen">{{ eingaben[aktuelleFrage]?.[moeglichkeit].length ?? 0 }}x gewählt</h2>
        <p>{{ quiz[aktuelleFrage]?.antworten[moeglichkeit] }}</p>
      </button>
    </div>

  </div>
  <div v-else id="gratulation">
    <h1>🎁 Gratulation!</h1>
  </div>
</template>

<script setup>
import {io} from "socket.io-client";

const route = useRoute()
import {ref, computed} from 'vue'

const quizname = route.params.quizname ?? "1"
const quiz = await $fetch("/api/quiz", {method: "post", body: {quizname}})
const {data: eingaben, refresh} = await useFetch("/api/present", {method: "post", body: {quizname}})

const aktuelleFrage = ref(0)
const antwortenZeigen = ref(false)
const richtigZeigen = ref(false)

const keinBild = computed(() => quiz[aktuelleFrage.value]?.bild === undefined)

// connect to  socket io if client
const socket = (typeof window !== "undefined") ? io("http://" + window.location.hostname + ":3005/") : null
setTimeout(function() {
  if (socket === null || !socket.connected) {
    setInterval(refresh, 1000)
  } else {
    socket.on("abgestimmt", refresh)
    socket.on("present", weiter)
  }
},1000)

function neuesRichtigSetzen(neuesRichtig) {
  quiz[aktuelleFrage.value].richtig = quiz[aktuelleFrage.value].antworten[neuesRichtig]
  weiter()
}

function weiterBtn() {
  socket.emit("present")
  weiter()
}

function weiter() {

  if (!richtigZeigen.value && antwortenZeigen.value) {
    richtigZeigen.value = true
    return
  }

  if (antwortenZeigen.value) {
    aktuelleFrage.value++
    socket.emit("aktuelleFrage", aktuelleFrage.value)
  }
  antwortenZeigen.value = !antwortenZeigen.value

  richtigZeigen.value = false

}

const alleAntworten = computed(function () {
  console.log("recacling", eingaben.value[aktuelleFrage.value])
  if (eingaben.value[aktuelleFrage.value] === undefined)
    return null
  let alles_without_proxy = JSON.parse(JSON.stringify(eingaben.value[aktuelleFrage.value]))
  let sum = alles_without_proxy?.map(moeglichkeit => moeglichkeit.length).reduce((partialSum, a) => partialSum + a, 0)
  console.log(sum)
  return sum
}, 1000)

</script>

<style>
#frage button {
  flex:0;
}

@media(max-width: 768px) {
#antworten.count3 button {
  flex: 100%
}}
</style>